<!DOCTYPE html>
<html lang="fr">
<body>
 <div class = "text-center">
<div class="container">
<div class="ap">
  <h2>PROFIL</h2>
  </div>
  <div class="card" >
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6_7u75Cr6Wa3ZBajeL9Gf-Alu71YqLjClcBPwAT6-ngDUVs-C" alt="Card image" style="width:100%">
    <div class="card-body">
      <%= current_user.name %><br><br><br>
      <%= current_user.email %>
      </div>
    </div>
  </div>
  

















