<p id="notice"><%= notice %></p>

<h1>Cart Items</h1>

<h2>Panier</h2>

<ul>

    <% @cart_item.each do |item| %>
        <li><%=item.item.title%></li>
    <% end %>

</ul>

<br>

<%= link_to 'New Cart Item', new_cart_item_path %>
